.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  background-color: #1f2328;
}


/* -------------------------------------------------start of project---------------------------- */
body{
  margin: 0;
}

/* ------------------------------------------header---------------------------------------------- */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav.scrolled {
  background-color: #1f2328;;
}


.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(71, 99, 203);
}

.logo img {
  width: 50px;
  height: 50px;

}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px; 
}

.menu li {
  margin-right: 30px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: whitesmoke;
}

.menu a:hover {
  color: green;
}


.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.active .line:nth-child(2) {
  opacity: 0;
}

.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}

.dropdown {
  position: relative;
  color: #fff;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 10px;
  background-color: #1f2328;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 20vh
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu li {
  margin-bottom: 5px;
  list-style-type: none; 
}

.dropdown-menu a {

  color: #fff;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: normal;
  font-family: Montserrat-Regular;
}


.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  cursor: pointer;
  padding-right: 25px;
}

.menu-icon.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.bar {
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .menu-icon {
    display: flex;
  }
  .menu.active {
    display: flex;
    flex-direction: column;
    background-color: #1f2328;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
  }
  .menu.active li {
    margin: 15px 0;
  }
}
/* -------------------------------------loading spinner----------------------------- */
.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); 
  z-index: 9999; 
}

.spinner {
  width: 50px;
  height: 50px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #777;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* -----------------------------------------not found page------------------------------------- */
.notfound{
  text-align: center;
  width: 100%;
  height: 80vh;
}
.notfound h1{
  padding-top: 20%;
  font-size: 37px;
  line-height: 1.8em;
  clear: both;
  font-weight: 400;
  color: #1b1f23;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
}
.notfound p{
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  margin: 0 0 20px 0;
  font-style: italic;
}
@media screen and (max-width: 480px) {
  .notfound h1{
    padding-top: 60%;
  }
}
/* --------------------------------------------homepage----------------------------------------- */
.home{
  padding-top: 10%;
  text-align: center;
  height: 100vh;
  background-image: url(images/frontpges.jpeg); 
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7); 
  z-index: -1;
  background-attachment: fixed;
}
.home h1{
  color: #fff;
  font-size: 78px;
  /* margin-left: 10%; */
  padding-top: 5%;
  margin-top: 0px;
  font: bold;
  letter-spacing: 4px;
  line-height: 1.2;
}
.home p{
  color:#fff;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 5%;
}
.home button{
  width: 25vh;
  height: 6vh;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out;
  background-color: green;
  color: #fff;
}
.home button a{
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.home button:hover{
  background-color: rgba(238, 96, 13);
}
.home h4{
  margin-left: 10%;
  margin-top: 0px;
  font-size: 1.5em;
}
.main__btn{
  font-size: 1rem;
  background-color: green;
  padding: 14px 32px;
  border: none;
  margin-top: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  color: #f9f9f9;
  cursor: pointer;
  width: 100%;
}
.main__btn a{
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}
.main__btn::after{
  position:absolute;
  content:"";
  top:0;
  left:0;
  width:0;
  height: 100%;
  background: #4837ff;;
  transition: all 0.35s;
  border-radius: 4px;
}
.main__btn:hover{
  background-color: rgba(238, 96, 13);
}
.main__btn:hover:after {
  width: 100;
}
.home1{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  gap: 20%;
  background-color: #f1efe9;
}
.home1 h4{
  font-size: 2rem;
  color:rgb(29, 28, 28);
}
.homeabout{
  padding-top: 2.5%;
}
.homeabout p{
  font-size: 1.1rem;
  color: #6b6363;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* For screens smaller than 768px (mobile) */
@media (max-width: 767px) {
  .home h1 {
      font-size: 2em;
      margin-left: 5%;
      padding-top: 10%;
  }
  .home h4 {
      font-size: 1em;
      margin-left: 5%;
  }
  .main__btn {
      font-size: 0.8rem;
      padding: 10px 24px;
  }
  .home1 {
      height: auto;
      flex-direction: column;
  }
  .home1 h4 {
      font-size: 1.5rem;
      margin-bottom: 2%;
  }
  .home1 img {
      display: none;
  }
  .homeabout p {
      font-size: 1rem;
      padding: 0 5%;
  }
}

/* For screens between 768px and 1024px (tablet) */
@media (min-width: 768px) and (max-width: 1024px) {
  .home h1 {
      font-size: 3em;
      margin-left: 5%;
      padding-top: 10%;
  }
  .home h4 {
      font-size: 1.3em;
      margin-left: 5%;
  }
  .main__btn {
      font-size: 0.9rem;
      padding: 12px 28px;
  }
  .home1 {
      height: auto;
      flex-direction: column;
  }
  .home1 h4 {
      font-size: 2rem;
      margin-bottom: 2%;
  }
  .home1 img {
      display: none;
  }
  .homeabout p {
      font-size: 1.1rem;
      padding: 0 5%;
  }
}

/* For screens larger than 1024px (desktop) */
@media (min-width: 1024px) {
  .home h4 {
      font-size: 1.5em;
      margin-left: 10%;
  }
  .main__btn {
      font-size: 1rem;
      padding: 14px 32px;
  }
  .home1 {
      height: 40vh;
      flex-direction: row;
  }
  .home1 h4 {
      font-size: 2.5rem;
      margin-bottom: 0;
  }
  .home1 img {
      display: block;
  }
  .homeabout p {
      font-size: 1.1rem;
      padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .home h1 {
    margin-top: 50%;
    font-size: 30px;
    margin-left: 8%;
  }
  .home p{
    font-size: 0.8em;
    letter-spacing: 1.2px;
  }
}

/* ----------------------------------------------services---------------------------------------------------- */
.cooking_classes{
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  max-width: 1350px;
  text-align: center;
  margin-top: 8%;
}
.cooking_classes h6{
  color: green;
  font-size: 1.2em;
  margin-top: 2%;
}
.cooking_classes h1{
  color: black;
  font-size: 3em;
  margin-top: -31px;
}
.work-list{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
  margin-left: 0px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.work{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  box-sizing: border-box;
  width: calc(31.33% - 10px); 
  transition: transform 0.3s ease;
  animation: cardAnimation 1s ease-in-out infinite alternate;
}
.work img{
  height: 35vh;
  width: 100%;
  transition: transform 0.5s;
}
  
.layer h4{
  color: whitesmoke;
  font-size: 1.5em;
  box-sizing: border-box;
  background-color: green;
  margin: 0px;
}
.layer h2{
  color: black;
}
.layer h2 a{
  text-decoration: none;
  color: black;
}
.layer p{
  color: #6b6363;
}
.work p{
  display: block;
  max-height: 4.5em;
  overflow: hidden;
  width: 100%;
  line-height: 1.5;
  letter-spacing: 1px;
}
.card_footer{
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-top: 2px solid rgb(61, 58, 58);
  padding-top: 10px;
  box-sizing: border-box;
}  

/* For tablet view */
@media (max-width: 1024px) {
  .cooking_classes {
  grid-template-columns: 1fr;
  margin: 15% 4% 4% 4%;
  }
  .work-list {
  margin-top: 30px;
  }
  .work {
  width: calc(48% - 10px);
  }
  }
  
  /* For mobile view */
  @media (max-width: 767px) {
  .cooking_classes {
      margin: 15% 4% 4% 4%;
  }
  .work {
  width: calc(100% - 10px);
  }
  .work-list {
  grid-gap: 20px;
  }
}

/* --------------------------------------------home conatct-------------------------------------------*/
.home2{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-bottom: 10%;
  gap: 5%;
  background-color: beige;
}

.home2 h4{
  font-size: 2rem;
}

.homeabout{
  padding-top: 2.5%;
  width: 35%;
}

.homeabout p{
  font-size: 1.1rem;
}

.home2 img{
  width: 40%;
  height: 60vh;
}

@media only screen and (max-width: 1024px) {
  .home2 {
      flex-wrap: wrap;
      height: auto;
      padding: 5%;
  }
  
  .home2 img {
      width: 100%;
      height: auto;
  }
  
  .home2 h4 {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 20px;
  }
  
  .homeabout {
      padding: 20px;
  }
  
  .homeabout p {
      font-size: 1rem;
      text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .home2 {
    flex-direction: column;
  }
  
  .home2 img {
      width: 100%;
      height: auto;
  }
  
  .home2 h4 {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 20px;
  }
  
  .homeabout {
      padding: 20px;
      width: 90%;
     
  }
  
  .homeabout p {
      font-size: 1rem;
      text-align: start;
  }
  .homeabout h1{
    margin-left: 8%;
  }
}

/* ----------------------------------------------------home blog---------------------------------------- */
.bbtn{
  width: 70%;
  height: 5vh;
  background-color: green;
  border: none;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.bbtn a{
  text-decoration: none;
  color: whitesmoke;
 
}
.bbtn:hover{
  background-color: rgba(238, 96, 13);
}
.bbtn2{
  width: 40vh;
  height: 5vh;
  background-color: green;
  transition: background-color 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}
.bbtn2 a{
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}
.bbtn2:hover{
  background-color: rgba(238, 96, 13);
}

/* ----------------------------------------------footer--------------------------------------------------- */
footer {
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  width: 100%;
  height: 50vh;
  display: flex;
  background-color: #1f2328;
  color: whitesmoke;
  margin-top: 8%;
}

.address {
  margin-left: 10%;
}
.address p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.Website__rights {
  text-align: center;
  background-color: #171717;
  color: whitesmoke;
  height: 4vh;
  margin: 0 auto;
  padding: 10px;
}

.menu1 {
  list-style: none;
}

.menu1 a {
  text-decoration: none;
  color: whitesmoke;

}

.menu1 li{
  padding-bottom: 10px;
  margin-right: 10px;
}

.menu1 a:hover {
  color: red;
}

.menu1 i {
  padding: 10px;
}

.menu-link {
  display: flex;
  align-items: center;
}

.menu-link svg {
  margin-right: 10px;
}


@media screen and (max-width: 1024px) {
  footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .address {
    margin: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    height: auto;
  }
  .address {
    margin: 20px;
    margin-bottom: 20px;
  }
  ul{
      display: flex;
      padding-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  .menu1 li {
    margin-bottom: 10px;
  }
  ul{
      display: flex;
      padding-left: 0px;
  }
}

/* -------------------------------------------contact page--------------------------------------- */
.contimg {
  height: 60vh;
  padding-top: 10%;
  text-align: center;
  align-items: center;
  width: 100%;
  background-size: contain;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7); 
  z-index: -1;
  background-image: url(https://st2.depositphotos.com/1265075/7365/i/450/depositphotos_73656201-stock-photo-web-contact-us-icons-cubes.jpg); 
}
.contact2 h1{
  font-size: 4rem;
  color: whitesmoke;
}
.contact1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #666;;
  width: 50%;
  margin: 0 auto;
  height: 10vh;
  color: whitesmoke;
}

form {
  margin:0 5% 0 5% ;
  width: 40%;
}
label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 0 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  height: 3vh;
  border: none;
  border: 2px solid #ccc;
  font-size: 16px;
}
input[type="password"]{
  width: 100%;
  border-radius: 0 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  height: 3vh;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  border: 2px solid #ccc;
  font-size: 16px;
}
textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 0 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  border: none;
  height: 12vh;
  border: 2px solid #ccc;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 20vh;
}

input[type="submit"]:hover {
  background-color: #666;;
}

.contact3 h2{
  text-align: center;
  padding-bottom: 3%;
}

.contactor{
  display: flex;
}
.map{
  width: 80vh;
  height: 60vh;
}
.home-sec-6{
  margin-top: 5%;
  margin-bottom: 10%;
}
.home-sec-6 h2{
  font-size: 30px;
  padding-left: 25px;
  padding-bottom: 50px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5em;
  line-height: 1.4;
  font-family: "Open Sans", arial, sans-serif;
}
.home-sec-6-a{
  display: flex;
  justify-content: space-evenly;

}
.home-sec-6-a-1{
  display: flex;
}
.home-sec-6-2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border: 1px solid black;
  padding: 10px;
  background-color: black;
  color: #ffff;
  border-radius: 10px;
}
.home-sec-6-3  h4{
  margin-bottom: 1px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-family: "Open Sans", arial, sans-serif;
}

@media screen and (max-width: 991px) {
  .contactor{
    display: block;
  }
  .map{
    width: 95%;
    margin-left: 3%;
    margin-top: 5%;
  }
  form{
    width: 90%;
  }
}

@media screen and (max-width: 768px) { /* for tablet view */
  .contimg {
  height: 30vh;
  padding-top: 20%;
  }
  .home-sec-6-a {
    display: grid;
  }
  .home-sec-6-a-1 {
   margin-bottom: 5%;
  }
  .contact2 h1 {
  font-size: 3rem;
  }
  .contact1 {
  width: 70%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  form {
  width: 80%;
  }
  input[type="submit"] {
  width: 50%;
  }
  .contact3 h2{
    font-size: 20px;
  }
  .contactor{
    display: block;
  }
  .map{
  width: 95%;
  margin-left: 3%;
  margin-top: 5%;
  }
  }
  
  @media screen and (max-width: 480px) { /* for mobile view */
  .contimg {
  height: 20vh;
  padding-top: 30%;
  }
  .home-sec-6-a{
    display: grid;
  }
  .home-sec-6-a-1{
    margin-top: 5%;
  }
  .contact2 h1 {
  font-size: 2rem;
  }
  .contact3 h2{
     margin-top: 18%;
     font-size: 17px;
  }
  .contact1 {
  width: 90%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  input[type="submit"] {
  width: 70%;
  }
  .contactor{
    display: grid;
  }
  .map{
    width: 95%;
    margin-left: 2%;
    margin-top: 5%;
  }
  }
/* --------------------------------------------------About us----------------------------------- */
.head{
  text-align: center;
  padding-bottom: 8%;
}
.head h2{
  font-size: 40px;
}
.head p{
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.profe{
  display: flex;
  align-items: center;
  position: relative;
}
.profe img{
  width: 60%;
  height: 60vh;
  object-fit: cover;
}

.profe-t{
  padding-top: 30px;
  height: 50vh;
  background-color:rgba(241,239,233,1);
  position: absolute;
  position: relative;
  left: -8%;
  box-sizing: border-box;
  width: 60vh;
  
}
.profe-t p{
  padding-left: 30px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.profe-t h6 {
 padding-left: 30px;
}
.profe-t h1{
  padding-left: 30px;
}

.quality{
  display: flex;
  height: 20%;
  background-color:#1f2328 ;
  width: 70%;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 8%;
  color: #fff;
}
.qlty1{
  padding-top: 20px;
}
.qlty1 h2{
  font-size: 40px;
  padding-bottom: 5%;
  text-align: center;
}
.qlty1 p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.qlty2{
  padding-top: 12%;
}
.qlty2 p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-top: 25px
}
.qlty1 :nth-child(p){
  padding-bottom: 20px;
  
}
.aboutbtn a{
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
.aboutbtn{
  height: 50px; 
  width: 25vh;
  background-color: #4CAF50;
}
.team1{
  display: flex;
  padding-bottom: 7%;
  justify-content: center;
}
.team1 img{
  width: 30%;
  height: 50%;
  padding-right: 20px;
}
.team h1{
  text-align: center;
  margin-bottom: 5%;
  font-size: 44px;
}
.team{
  margin-top: 10%;
}
.team1 h3{
  font-size: 30px;
}
.team1 p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

@media screen and (max-width: 1024px) {
  .quality .qlty1 p {
      margin-left: 19px;
  }
  .quality .qlty2 p {
    margin-left: 19px;
    margin-right: 10px;
  }
  .qlty1 .bbtn{
      margin-left: 19px;
  }

}


@media only screen and (max-width: 768px) {
  .profe {
  flex-direction: column;
  align-items: center;
  }
  .profe img {
  width: 100%;
  height: auto;
  }
  .profe-t {
  position: static;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  .quality {
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  }
  .quality .qlty1,
  .quality .qlty2 {
  padding-top: 0;
  }
  .qlty1 .bbtn{
      display: none;
  }
  .aboutbtn {
  height: 40px;
  width: 150px;
  margin-top: 20px;
  }
  .team{
      margin-left: 10%;
      margin-right: 10%;
  }
  .team1 {
  flex-direction: column;
  }
  .team1 img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  }
  .team h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  .team1 h3 {
  font-size: 24px;
  margin-bottom: 10px;
  }
  }
  
  @media only screen and (max-width: 480px) {
  .head h2 {
  font-size: 32px;
  }
  .head p {
  font-size: 16px;
  }
  .profe-t h1 {
  font-size: 24px;
  }
  .profe-t h6 {
  font-size: 16px;
  }
  .profe-t p {
  font-size: 14px;
  }
  .quality .qlty1 h2 {
  font-size: 24px;
  padding-bottom: 0px;
  }
  .quality .qlty1 p {
  font-size: 14px;
  margin-left: 9px;
  }
  .quality .qlty2 p {
   font-size: 14px;
   margin-left: 9px;
  }
  .qlty1 .bbtn{
   display: none;
  }
  .aboutbtn a {
  font-size: 16px;
  }
  .aboutbtn {
  height: 30px;
  width: 120px;
  }
  .team{
      margin-left: 10%;
      margin-right: 10%;
  }
  .team h1 {
  font-size: 28px;
  margin-top: 10%;
  margin-bottom: 10%;
  }
  .team1 h3 {
  font-size: 20px;
  margin-bottom: 5px;
  }
  }

/* ----------------------------------------------------create blog-------------------------------- */
 .create-blog-page {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 10%;
  height: 80vh;
}

.create-blog-page .form-group {
  margin-bottom: 20px;
  width: 120vh;
}

.create-blog-page label {
  display: block;
  margin-bottom: 5px;
}

.create-blog-page input[type='text'],
.create-blog-page input[type='file'] {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-blog-page select {
  width: 99%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-blog-page .blogEditor {
  height: 20vh;
  z-index: 78;
  margin-bottom: 5%;
  width: 100%;
  overflow-y: auto; /* Added to enable vertical scrolling */
}

.create-blog-page button {
  background-color: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 25vh;
}

.create-blog-page button:hover {
  background-color: green;
}

@media screen and (max-width: 480px) {
  .create-blog-page {
    padding: 10px;
    padding-top: 20%;
  }
  .create-blog-page .form-group {
    width: 100%;
  }
  .blogEditor {
    padding-bottom: 15%;
  }
  .create-blog-page input[type='text'],
  .create-blog-page input[type='file'] {
    width: 94%;
  }
  .create-blog-page button {
    float: right;
  }
}
/* ----------------------------------------------------- all blog---------------------------------------- */
.contact-sec-1{
  width: 100%;
  height: 60vh;
  background-image: url(https://www.inkandironcts.com/images2/banner-7.jpg);
  display: block;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-position:center center ;
  background-repeat: no-repeat;
}
.contact-sec-1 h2{
  padding-top: 15%;
  margin-left: 10%;
  position: relative;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 1.2;
  opacity: .9;
  font-family: "Open Sans", arial, sans-serif;
}
.contact-sec-1 p{
  margin-left: 10%;
  position: relative;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.5;
  opacity: .9;
  font-family: "Open Sans", arial, sans-serif;
}

.blog-sec-1{
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: .8;
  color: black;
  font-size: 30px;
  text-align: center;
  font-family: "Open Sans", arial, sans-serif;
  text-transform: uppercase;
}
.blog-sec-2{
  width: 95%;
  margin: 0;
  padding: 20px 0;
  border: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
}
.one-blog-container {
  margin-left: calc(20px / 2);
  margin-right: calc(20px / 2);
  width: calc(33.3333333333% - 20px);
  display: block;
  padding-bottom: 30px;
}
.image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 70%; 
  overflow: hidden;
}
.one-blog-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.one-blog-container h2{
  word-wrap: break-word;
  hyphens: auto;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: black;
  display: block;
  letter-spacing: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.one-blog-container p{
  margin: 0 0 15px;
  font-style: normal;
  font-family: "Open Sans", arial, sans-serif;
  line-height: 1.8em;
  max-width: 100%;
  color: #363636;
}
.excerpt {
  line-height: 1.8em;
  position: relative;
  max-height: 9em;
  margin-bottom: 1em;
  overflow: hidden;
}
.read-more{
  text-decoration: none;
  color: #e58273;
  outline: 0;
  transition: color 0.1s linear;
  touch-action: manipulation;
}

.paginate{
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginate p{
  border: 1px solid #777;
  color: black;
  border-radius: 2px;
  margin: 10px 5px;
  padding: 5px 10px;
  display: inline-block;
}
@media (max-width: 425px) {
  .blog-sec-1{
    font-size: 20px;
  }
  .blog-sec-2{
    display: block;
    margin-left:0 ;
  }
  .one-blog-container {
    width: 100%;
  }
  .contact-sec-1 h2{
    padding-top: 40%;
  }
  .contact-sec-1 p{
   font-size: 12px;
  }
}
@media (min-width: 427px) and (max-width: 768px) {
  .contact-sec-1 h2{
    margin-top: 25%;
  }
}
@media (min-width: 779px) and (max-width: 991px) {
  .contact-sec-1 h2{
    margin-top: 25%;
  }
}
/* -------------------------------------------single blog---------------------------------------------- */
.open-blog-sec{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.open-blog-sec p{
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  color: #777;
  font-family: "Open Sans", arial, sans-serif;
  letter-spacing: 1px;
}
.single-blog-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.single-blog-wrapper {
  flex-grow: 1;
}

/* ----------------------------------------------pagination--------------------------------------- */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  background-color: #fff;
  color: #08509F;
  cursor: pointer;
  height: 4vh;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.pagination button:hover {
  background-color: #08509F;
  color: #fff;
}

.pagination button.active {
  background-color: #28a745;
  color: #fff;
}

/* ------------------------------------------Regsite and login------------------------------------ */

.Register {
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.Rinfo {
  width: 100%;
}

.Rinfo h1 {
  text-align: center;
  margin-bottom: 5%;
}

.Rinfo form {
  width: 70%;
  margin-left: 10%;
}

.Rinfo form input {
  margin-bottom: 20px;
  font-size: 16px;
}

.password-input {
  position: relative;
  width: 100%;
}


.eye-icon {
  position: absolute;
  top: 30%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.Register img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.already {
  margin-left: 10%;
}

@media only screen and (max-width: 480px) {
  .Register {
    display: block;
    margin-top: 25%;
    margin-bottom: 28%;
  }

  .Register img {
    display: none;
  }

  .Rinfo h1 {
    font-size: 25px;
  }
}
/* --------------------------------admin---------------------- */

.containerx {
  display: flex;
  min-height: 100%;
  margin-top: 10%;
}

.containerx .sidebar {
  background-color: #f1f1f1;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.containerx .sidebar .active {
  color: rgb(14, 183, 81);
  background-color: #f1f1f1;
}

.containerx .sidebar h2 {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20%;
  margin-bottom: 30%;
  font-size: 20px;
}

.containerx .sidebar .menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
}

.containerx .sidebar ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
  padding-left: 20px;
  font-weight: 600;
}

.containerx .sidebar ul li {
  margin-bottom: 20%;
}

.containerx .sidebar ul li a {
  text-decoration: none;
}

.containerx .content {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
}

.containerx .content .upper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}

.containerx .content .upper button {
  width: 20vh;
  height: 4vh;
  background-color: #ff9900;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.containerx .content .upper button:hover {
  background-color: #d90;
}

.containerx .content .upper h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.containerx .content .table-wrapper .table {
  width: 100%;
  /* border-collapse: collapse; */
  margin-bottom: 20px;
  position: relative;
}

.containerx .content .table-wrapper .table td.error {
  text-align: center;
}

.containerx .content .table-wrapper .table th {
  padding: 10px 20px 10px 50px;
  text-align: start;
}

.containerx .content .table-wrapper .table td {
  padding: 10px;
  font-size: 14px;
}

.containerx .content .table-wrapper .table th {
  background-color: #121111;
  font-weight: bold;
  color: whitesmoke;
  font-size: 18px;
  justify-content: space-around;
}

.containerx .content .table-wrapper .table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.containerx .content .table-wrapper .table td.action button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 20px;
}

.containerx .content .table-wrapper .table td.action button:hover {
  background-color: #3e8e41;
}

.containerx .content .table-wrapper .table td.action button.delete {
  background-color: #ff0000;
}

.containerx .content .table-wrapper .table td.action button.delete:hover {
  background-color: #490b0b;
}

.containerx .content .table-wrapper .table td.action button.Disable {
  background-color: rgba(11, 11, 185, 0.876);
}

.containerx .content .table-wrapper .table td.action button.Disable:hover {
  background-color: rgb(27, 27, 233);
}

/* Mobile view styles */
@media (max-width: 768px) {
  .containerx {
    flex-direction: column;
    height: auto;
    margin-top: 30%;
  }

  .containerx .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .containerx .sidebar .menu-btn {
    display: block;
    padding-bottom: 20px;
  }

  .containerx .sidebar ul.menu-list {
    display: none;
    width: 100%;
  }

  .containerx .sidebar ul.menu-list.show {
    display: block;
  }

  .containerx .sidebar h2 {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 20px;
  }

  .containerx .sidebar ul li {
    margin-bottom: 6%;
  }

  .containerx .content {
    flex: 1;
  }

  .containerx .table thead tr {
    display: none;
  }

  .containerx .table,
  .containerx .table tbody,
  .containerx .table tr,
  .containerx .table td {
    display: block;
    width: 100%;
  }

  .containerx .table tr td {
    border: 1.2px solid #444;
  }

  .containerx .table tr {
    margin-bottom: 40px;
  }

  .containerx .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .containerx .table tbody tr::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    font-weight: bold;
    color: black;
    padding-left: 4px;
    text-align: left;
    font-size: 15px;
  }

  .containerx .content .upper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

  .containerx .content .upper h2 {
    font-size: 20px;
    margin-bottom: 3%;
  }

  .containerx .content .upper button {
    width: 60%;
    height: 40px;
    margin-bottom: 5%;
  }
}

/* iPad View */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .containerx {
    flex-direction: column;
    margin-top: 15%;
  }

  .containerx .sidebar {
    margin-bottom: 20px;
    width: 100%;
  }

  .containerx .sidebar h2 {
    margin-top: 5%;
    margin-bottom: 50px;
    font-size: 30px;
  }

  .containerx .sidebar ul {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .containerx .sidebar ul li {
    margin-bottom: 0;
  }

  .containerx .content {
    padding: 0 10px;
    overflow-x: scroll;
  }

  .containerx .content .table {
    width: auto;
    display: inline-table;
  }

  .containerx .content .table th,
  .containerx .content .table td {
    min-width: 120px;
  }

  .containerx .content .table td.action button {
    margin-right: 10px;
  }
}
